<div class="container color-dark">
  <div class="col">
    <p>Add a SuperHero item</p>
  </div>
  <div class="col">
    <p>SuperHero list ({{ itemCount }})</p>
  </div>
</div>
<div class="container color-light" [@Heros]="Heros.length">
  <div class="col">
    <p class="sm">Add a SuperHero you really like!</p>

    <form>
      <input type="text" class="txt" name="item" placeholder="Superhero..." [(ngModel)]="newHero">
      <input type="submit" class="btn" [value]="BtnTxt" (click)="addHero()">
    </form>
  </div>
  <div class="col">
    <p class="hero-container" *ngFor="let hero of Heros; let i = index" (click)="removeHero(i)">
      {{ hero }}
    </p>
  </div>
</div>
